:root {
  --size: 75px;
  --clr-bg: #272324;
  --clr1: #bbbb88;
  --clr2: #ccc68d;
  --clr3: #eedd99;
  --clr4: #eec290;
  --clr5: #eeaa88;
}

.spinner {
  --animation-duration: 1000ms;
  width: var(--size);
  height: var(--size);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  .spinner-item {
    height: 40%;
    background-color: var(--clr-spinner);
    width: calc(var(--size) / 13);
    animation: spinner5 var(--animation-duration) ease-in-out infinite;

    @keyframes spinner5 {
      25% {
        transform: scaleY(2);
      }

      50% {
        transform: scaleY(1);
      }
    }
  }

  .spinner-item:nth-child(1) {
    --clr-spinner: var(--clr1);
  }

  .spinner-item:nth-child(2) {
    --clr-spinner: var(--clr3);
    animation-delay: calc(var(--animation-duration) / 10);
  }

  .spinner-item:nth-child(3) {
    --clr-spinner: var(--clr5);
    animation-delay: calc(var(--animation-duration) / 10 * 2);
  }

  .spinner-item:nth-child(4) {
    --clr-spinner: var(--clr4);
    animation-delay: calc(var(--animation-duration) / 10 * 3);
  }

  .spinner-item:nth-child(5) {
    --clr-spinner: var(--clr2);
    animation-delay: calc(var(--animation-duration) / 10 * 4);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: var(--accent);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}
